body {
    background-color: #7E8083;
}
img {
    max-width: 100%;
    display:block; 
}
.threestars {
    display: block; 
    margin: auto; 
    width:50vw;
    height:40vh;
    background-repeat: no-repeat;
    background-image: url("/img/threestars-03.png");
    background-size: contain;
}
.speech_bubble {
    display: block; 
    background-image: url("/img/speechbubble-04.png");
    background-size: contain;
    width:50vw;
    height:80vh;
    background-repeat: no-repeat;
    margin-left: 30vw;
    margin-top: -50px; 
}
.alien_stars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-gap: 0px;
}
.alien {
    display: block; 
    background-image: url("/img/planetdude-05.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20vw;
}
.moon {
    display: relative; 
    background-image: url("/img/moon-06.png");
    background-size: contain;
    width:90vw;
    height:90vh;
    background-repeat: no-repeat;
    margin-left: 10vw;
    margin-top: -90px; 
}
.second_stars {
    margin-bottom: -190px;  
}
img {
    display: relative; 
    height: auto; 
    width: 100%; 
    margin: auto; 
}
/* Phone Styles */
@media screen and (max-width: 767px) {
    .speech_bubble {
        display: block; 
        background-image: url("/img/speechbubble-04.png");
        background-size: contain;
        width:60vw;
        height:70vh;
        background-repeat: no-repeat;
        margin-left: 30vw;
        margin-top: -70px; 
    }
    .alien_stars {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; 
        grid-gap: 0px;
        margin-top: -200px; 
    }
    .alien {
        display: block; 
        background-image: url("/img/planetdude-05.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10vw;
    }
    .moon {
        display: relative; 
        background-image: url("/img/moon-06.png");
        background-size: contain;
        width:90vw;
        height:30vh;
        background-repeat: no-repeat;
        margin-left: 10vw;
        margin-top: 5px; 
    }
    .second_stars {
        margin-bottom: 10px;  
    }
    img {
        display: relative; 
        height: auto; 
        width: 100%; 
        margin: auto; 
    }
}
