body {
    background-color: #FEEB02;
}
img{
    max-width: 100%; 
    display: block; 
}
.woahdude {
    display: block; 
    background-image: url("/img/woahdude-08.png");
    background-size: contain;
    width:60vw;
    height:80vh;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.threat {
    display: block; 
    height: auto; 
    margin:auto;
    margin-top: -50px; 
    width: 100vw;
    background-color: black;
    color: white; 
    font-size: 3em; 
    font-family: 'Nosifer', cursive;
    margin-left: auto;
    margin-right: auto;
}
.albums{
    background-image: url("/img/garage.png");
    background-size: cover;
    width:100vw;
    height:200vh;
    background-repeat: no-repeat;
    margin-top: -60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "one two" "three four"; 
    position: relative; 
}
.nirvana {
    grid-area: one; 
}
.soundgarden {
    background-image: url("/img/soundgarden.png");
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: two; 
}
.singles {
    background-image: url("/img/singles.png");
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: three; 
}
.pearljam {
    background-image: url("/img/pearljam.png");
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: four; 
}


/* Phone Styles */
@media screen and (max-width: 767px) {
.woahdude {
    height: 40vh;
}
.albums {
    height: 100vh;
    margin-top: -30px;
}
.threat {
    font-size: 2em;
    
}
}
